
* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.96);
}

.header li {
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  margin-top: 20px;
}

.header a {
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.headerLogo {
  float: left;
  width: 140px;
  height: 70px;
  object-fit: cover;
}

.twologos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactSection{
background-color:#111;;
padding-top:40px;
padding-bottom:40px;
color:rgb(255, 255, 255);
}

.Section1 {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.otherSection{
  text-align: left;
 
}

.socialMedia i {
  font-size: 40px;

  padding-left:10px;
  padding-right:10px;
}

.locationUK{
font-size:12px;
}

.section2 h6{
  font-size:12px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  float:none;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

#navbar li a:hover {
  color: rgb(255, 101, 132);
}

.mobile {
  display: none;
}

.mobile i {
  color: rgb(67, 67, 67);
}

.carousel {
  width: 350px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.carousel img {
  height: 300px;
  object-fit: scale-down;
}

.productscontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
 
  
}


.containercolumn {
  margin: 20px;
}

.containercolumn h1 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(111, 111, 111);
  font-weight: 600;
  float: left;
}

.productscontainer::-webkit-scrollbar {
  display: none;
}


.products {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
}

.products img {
  width: 170px;
  object-fit: scale-down;
}

.product-column {
  height: 300px;
}


.productsSC {
  padding-left: 10px;
  padding-right: 10px;
  padding-top:30px;
  padding-bottom:30px;
  display: flex;
  border-top: 1px solid rgb(232, 232, 232);
  border-bottom: 1px solid rgb(232, 232, 232);
  margin-left:60px;
  margin-right:60px;

}

.productsSC img {
  width: 100px;
  object-fit: scale-down;
 

}

.productTitle {
  width:50%;
  padding-left:20px;
text-align: left;
  }

.products h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  width: 100%;
 
}

.productTitle{
  height: 60px;
  
 
}
.productPrice{
  padding-bottom:10px;
}



.products button, .productsSC button {
  margin-left: 3px;
  margin-right: 3px;
  border: none;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.addToCart {
  padding: 8px;
  background-color: rgb(250, 130, 130);
  color: white;
  border: none;
  border-radius: 100px;
  font-weight: 600;
}

.addToCart:hover {
  padding: 8px;
  background-color: rgb(254, 88, 88);
  transition: 0.3s ease-in-out;
}

.shoppingCartColumn {
  padding-bottom: 50px;
}

.shoppingCart {
  color: grey;
  margin: 0;
  font-size: larger;
float:right;


}

.shoppingCart:hover {
  color: rgb(255, 124, 124);
}

.shoppingcartcontainer{
  text-align: center;

}

.backtohome {
  padding: 8px;
  background-color: rgb(250, 130, 130);
  color: white;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  
}

.shoppingcarttitle{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;

}

.product{
  margin-left:40px;
  margin-right:40px;
}


.products h2{
  font-family:Arial, Helvetica, sans-serif;
  font-size:18px;
  text-align: left;
  
}

.amountSection{
  width:200px;
}

.amountBlock{
  
  vertical-align:top;
  display: inline-block;

}

.productsSC img {
  width: 50px;
  /* object-fit: scale-down; */
}

.productsSC h2 {
  
    font-size: 16px;
  color:rgb(107, 107, 107);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.shoppingCartTotal{
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.totalpriceSC{
  color:rgb(88, 88, 88);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}




@media screen and (max-width: 891px) {
  .header {
    background-color: rgba(255, 255, 255);
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 70px;
    width: 100%;
    right: -1000px;
    background-color: rgba(255, 255, 255, 0.962);
    transition: 0.8s ease-in-out;
  
  }

  #navbar ul {
    padding: 0;
  }

  #navbar li {
    width: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
  }

  #navbar.active {
    right: 0px;
    transition: 0.8s ease-in-out;
  }

 

  .mobile {
    display: block;
    align-items: center;
float:left;
  }

  .mobile i {
    font-size: 24px;
    cursor: pointer;
    padding: 20px;
    
    
  }

  .mobile i:hover {
    color: rgb(255, 102, 120);
    transition: 0.3s ease-in-out;
  }

  .shoppingCart {
    margin: 0;
    font-size: large;
    padding-right: 20px;
  }

  .productsSC{
    padding-left:20px;
    padding-right:20px;
    margin-left:30px;
    margin-right:30px;
    
  }

  .productTitle {
    width:350px;
    }

    .amountSection{
      width:250px;
    }
}

@keyframes App-logo-spin {
}
